<!DOCTYPE html>
<html>
  <head>
   	<title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>

  </head>
    <body>

    <!HEADER START>

      <%= render 'layouts/header' %>

  	<!HEADER END>

	  <!BODY CONTAINER START>

 	    <div class="container">

        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>

      <%= yield %>


    <!DEBUG CODE START>

      <!-- <%= debug(params) if Rails.env.development? %> -->

    <!DEBUG CODE END>
      </div>

    <!BODY CONTAINER END>
    <!FOOTER START>

      <%= render 'layouts/footer'%>

    <!FOOTER END>

    </body>
</html>

